<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
<display-name>Archetype Created Web Application</display-name>
	<welcome-file-list>
	<welcome-file>Home.html</welcome-file>
	</welcome-file-list>
 
  <servlet>
  	<servlet-name>EmployeeController</servlet-name>
  	<display-name>EmployeeController</display-name>
  	<description></description>
  	<servlet-class>com.revature.project1.controller.EmployeeController</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>CustomerController</servlet-name>
    	<display-name>CustomerController</display-name>
  	<description></description>
  	<servlet-class>com.revature.project1.controller.CustomerController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ValidateCustomer</servlet-name>
  	<display-name>ValidateCustomer</display-name>
  	<description></description>
  	<servlet-class>com.revature.project1.controller.ValidateCustomer</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ValidateEmployee</servlet-name>
  	<display-name>ValidateEmployee</display-name>
  	<description></description>
  	<servlet-class>com.revature.project1.controller.ValidateEmployee</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>DepositBalanceController</servlet-name>
  	<display-name>DepositBalanceController</display-name>
  	<description></description>
  	<servlet-class>com.revature.project1.controller.DepositBalanceController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>WithdrawBalanceController</servlet-name>
  	<display-name>WithdrawBalanceController</display-name>
  	<description></description>
  	<servlet-class>com.revature.project1.controller.WithdrawBalanceController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>TransferBalanceController</servlet-name>
  	<display-name>TransferBalanceController</display-name>
  	<description></description>
  	<servlet-class>com.revature.project1.controller.TransferBalanceController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ApproveCustomerController</servlet-name>
  	<display-name>ApproveCustomerController</display-name>
  	<description></description>
  	<servlet-class>com.revature.project1.controller.ApproveCustomerController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ApproveToCustomerController</servlet-name>
  	<display-name>ApproveToCustomerController</display-name>
  	<description></description>
  	<servlet-class>com.revature.project1.controller.ApproveCustomerController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ConfirmCustomerApprovalController</servlet-name>
  	<display-name>ConfirmCustomerApprovalController</display-name>
  	<description></description>
  	<servlet-class>com.revature.project1.controller.ConfirmCustomerApprovalController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>DenyCustomerController</servlet-name>
  	<display-name>DenyCustomerController</display-name>
  	<description></description>
  	<servlet-class>com.revature.project1.controller.DenyCustomerController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ConfirmCustomerDenyController</servlet-name>
  	<display-name>ConfirmCustomerDenyController</display-name>
  	<description></description>
  	<servlet-class>com.revature.project1.controller.ConfirmCustomerDenyController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>EmployeeLogoutController</servlet-name>
  	<display-name>EmployeeLogoutController</display-name>
  	<description></description>
  	<servlet-class>com.revature.project1.controller.EmployeeLogoutController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>CustomerLogoutController</servlet-name>
  	<display-name>CustomerLogoutController</display-name>
  	<description></description>
  	<servlet-class>com.revature.project1.controller.CustomerLogoutController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>BalanceEnquiryController</servlet-name>
  	<display-name>BalanceEnquiryController</display-name>
  	<description></description>
  	<servlet-class>com.revature.project1.controller.BalanceEnquiryController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>UserController</servlet-name>
  	<display-name>UserController</display-name>
  	<description></description>
  	<servlet-class>com.revature.project1.controller.UserController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ValidateUser</servlet-name>
  	<display-name>ValidateUser</display-name>
  	<description></description>
  	<servlet-class>com.revature.project1.controller.ValidateUser</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>EmployeeController</servlet-name>
  	<url-pattern>/EmployeeController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>CustomerController</servlet-name>
  	<url-pattern>/CustomerController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ValidateCustomer</servlet-name>
  	<url-pattern>/ValidateCustomer</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ValidateEmployee</servlet-name>
  	<url-pattern>/ValidateEmployee</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>DepositBalanceController</servlet-name>
  	<url-pattern>/DepositBalanceController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>WithdrawBalanceController</servlet-name>
  	<url-pattern>/WithdrawBalanceController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>TransferBalanceController</servlet-name>
  	<url-pattern>/TransferBalanceController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ApproveCustomerController</servlet-name>
  	<url-pattern>/ApproveCustomerController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ApproveToCustomerController</servlet-name>
  	<url-pattern>/ApproveToCustomerController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ConfirmCustomerApprovalController</servlet-name>
  	<url-pattern>/ConfirmCustomerApprovalController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>DenyCustomerController</servlet-name>
  	<url-pattern>/DenyCustomerController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ConfirmCustomerDenyController</servlet-name>
  	<url-pattern>/ConfirmCustomerDenyController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>EmployeeLogoutController</servlet-name>
  	<url-pattern>/EmployeeLogoutController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>CustomerLogoutController</servlet-name>
  	<url-pattern>/CustomerLogoutController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>BalanceEnquiryController</servlet-name>
  	<url-pattern>/BalanceEnquiryController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>UserController</servlet-name>
  	<url-pattern>/UserController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ValidateUser</servlet-name>
  	<url-pattern>/ValidateUser</url-pattern>
  </servlet-mapping>
   <welcome-file-list>
  <welcome-file>home.html</welcome-file>
  </welcome-file-list>
</web-app>